<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551175519868-4fkgllkoi6l1bte0rgpo28imaheh9ron.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551175519868-4fkgllkoi6l1bte0rgpo28imaheh9ron</string>
	<key>API_KEY</key>
	<string>AIzaSyBvAUoN7aOBhX9z582W6UL8KWYVm5RRY7s</string>
	<key>GCM_SENDER_ID</key>
	<string>551175519868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ass07</string>
	<key>PROJECT_ID</key>
	<string>my-first-firebase-efee1</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-firebase-efee1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551175519868:ios:7796698a2085ef3e7b13f9</string>
</dict>
</plist>